<div class="container-fluid searchnav pr-1">
    <br>
    <h1 class="loginTitle">Mike's Chat Room</h1><br>
        <div class="loginbox">
            <div class="loginimagediv"><img src="img/LoginRed.jpg" class="loginimage"></div>
            <br>
            <p  class="pass" ng-show="hctrl.invalid">Invalid user name or password!</p>
            <form >               
                <label class="loginlabel">Username:&nbsp;</label><input type="text" id="name" name="name" value="" class="checkoutln" ng-model="hctrl.loginId"> <br>
                <label class="loginlabel">Password:&nbsp;</label><input type="password" id="password" name="password" value="" class="checkoutln" ng-model="hctrl.password"><br>
                <a href=""><img src="img/loginbtn.png" class="loginbtn" ng-click="hctrl.login(hctrl)"></a>
            </form>
        </div>
        <br>
        <div class="center1">Create an account click&nbsp;<a href="" ng-click="hctrl.createAccount(hctrl)">here</a></div>
    </div>